.nav{
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 15px;
    height: 20px; 
    
    transition-timing-function: ease-in;
    transition: all 0.8s;
}

.nav_black{
    background-color: #111;
}

.nav_logo{
    object-fit: contain;
    width: 80px;
    position: fixed;
    left: 20px;
}

.nav_avatar{
    object-fit: contain;
    width: 26px;
    position: fixed;
    right: 20px; 
}

